<div class="container">
    <footer class="pt-5">
        <div class="row mb-3 mx-auto">
            <div class="col-sm-12 col-md-6 col-lg-4 text-md-center">
                <div class="d-inline-block text-start">
                    <h5>O společnosti</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >O nás</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Kontakt</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Obchodní podmínky</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Ochrana osobních údajů</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Volná místa</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Recyklace elektrozařízení</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 text-md-center">
                <div class="d-inline-block text-start">
                    <h5>Zákaznický servis</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Doprava a platba</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Servis</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Výpůjčka zdarma</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Vrácení a výměna zboží</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Nabídka do jedné minuty</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Zakázkové úpravy a vývoj</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Reklamační řád</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 text-md-center">
                <div class="d-inline-block text-start">
                    <h5>Užitečné odkazy</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Košík</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Registrace</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Zapomenuté heslo</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav-link text-body-secondary"
                                >Úvodní stránka</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div
            class="d-flex flex-column flex-sm-row justify-content-between align-items-center py-4 border-top">
            <div>© 2024 Company. Všechna práva vyhrazena.</div>
            <a class="link-body-emphasis" href="#">Začátek stránky</a>
        </div>
    </footer>
</div>
