<header class="sticky-top bg-white">
    <div class="container pt-1">
        <nav
            class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="#"> Logo </a>

            <div class="d-flex">
                <ul class="nav nav-pills navbar-collapse">
                    <li class="nav-item d-none d-lg-block">
                        <div class="input-group">
                            <input
                                type="text"
                                id="header-search"
                                class="form-control"
                                placeholder="search" />
                            <span class="input-group-text">
                                <i class="bi bi-search fs-5"></i>
                            </span>
                        </div>
                    </li>

                    <li class="nav-item d-lg-none">
                        <a href="#" class="nav-link">
                            <i class="bi bi-search fs-4"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link fs-4">
                            <i class="bi bi-person"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-globe fs-4"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-cash fs-4"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-cart fs-4"></i>
                        </a>
                    </li>
                </ul>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarColor01"
                    aria-controls="navbarColor01"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span>
                        <i class="bi bi-list fs-4"></i>
                    </span>
                </button>
            </div>
        </nav>
    </div>
</header>
