<ul class="list-unstyled font-white">
    <li class="bg-primary light-30 border-top border-white">
        <a href="#" class="nav-link d-flex justify-content-between py-2 px-3"
            ><span class="">Category</span> <i class="bi bi-caret-right"></i
        ></a>

        <ul class="list-unstyled p-0">
            <li class="bg-primary light border-top border-white">
                <a href="#" class="nav-link py-2 ps-3"
                    ><span class="px-2">Subcategory</span></a
                >
            </li>

            <li class="bg-primary light border-top border-white">
                <a href="#" class="nav-link py-2 ps-3"
                    ><span class="px-2">Subcategory</span></a
                >
            </li>
            <li class="bg-primary border-top border-white">
                <a
                    href="#"
                    class="nav-link d-flex justify-content-between py-2 px-3"
                    ><span class="px-2">Subcategory</span>
                    <i class="bi bi-caret-right"></i
                ></a>
                <ul class="list-unstyled p-0">
                    <li class="bg-primary dark-20 border-top border-white">
                        <a href="#" class="nav-link py-2 ps-3">
                            <span class="ps-3">SubSubCategory</span>
                        </a>
                    </li>

                    <li class="bg-primary dark-20 border-top border-white">
                        <a href="#" class="nav-link py-2 ps-3"
                            ><span class="ps-3">SubSubCategory</span></a
                        >
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <!-- <hr /> -->
    <!-- <li class="list-group">
        <div
            class="collapsed list-group-item list-group-item-action bg-light"
            data-bs-toggle="collapse"
            data-bs-target="#cat3-collapse"
            aria-expanded="false">
            Category
        </div>
        <div class="collapse" id="cat3-collapse">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"
                    >Subcategory</a
                >
                <a href="#" class="list-group-item list-group-item-action"
                    >Subcategory</a
                >
                <a href="#" class="list-group-item list-group-item-action"
                    >Subcategory</a
                >
            </div>
        </div>
    </li> -->
</ul>
