<nav class="bg-primary d-none d-lg-block">
    <div
        class="nav container d-flex align-items-center justify-content-center text-center">
        <a class="nav-link flex-fill" href="/">
            <i class="bi bi-house fs-5 font-white"></i
        ></a>
        <a class="nav-link flex-fill font-white" href="/category">Category</a>
        <a class="nav-link flex-fill font-white" href="/product_detail"
            >Product Detail</a
        >
        <a class="nav-link flex-fill font-white" href="/cart">Cart</a>
        <a class="nav-link flex-fill font-white" href="#">-</a>
        <a class="nav-link flex-fill font-white" href="#">-</a>
        <a class="nav-link flex-fill font-white" href="#">-</a>
        <a class="nav-link flex-fill font-white" href="#">-</a>
    </div>
</nav>
